In [1]:
#import necessary packages
import pandas as pd
import numpy as np
import re

#read in data
data= pd.read_csv('dataanalystjobs.csv')
print(data.info())
print(data)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2253 entries, 0 to 2252
Data columns (total 16 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         2253 non-null   int64
 1   Job Title          2253 non-null   object
 2   Salary Estimate    2253 non-null   object
 3   Job Description    2253 non-null   object
 4   Rating             2253 non-null   float64
 5   Company Name       2252 non-null   object
 6   Location           2253 non-null   object
 7   Headquarters       2253 non-null   object
 8   Size               2253 non-null   object
 9   Founded            2253 non-null   int64
 10  Type of ownership  2253 non-null   object
 11  Industry           2253 non-null   object
 12  Sector             2253 non-null   object
 13  Revenue            2253 non-null   object
 14  Competitors        2253 non-null   object
 15  Easy Apply         2253 non-null   object
dtypes: float64(1), int64(2), object(13)
memory usage: 281.8+ KB
None
      Unnamed: 0                                          Job Title  \
0              0  Data Analyst, Center on Immigration and Justic...
1              1                               Quality Data Analyst
2              2  Senior Data Analyst, Insights & Analytics Team...
3              3                                       Data Analyst
4              4                             Reporting Data Analyst
...          ...                                                ...
2248        2248  RQS - IHHA - 201900004460 -1q Data Security An...
2249        2249              Senior Data Analyst (Corporate Audit)
2250        2250  Technical Business Analyst (SQL, Data analytic...
2251        2251                Data Analyst 3, Customer Experience
2252        2252                        Senior Quality Data Analyst

                  Salary Estimate  \
0      $37K-$66K (Glassdoor est.)
1      $37K-$66K (Glassdoor est.)
2      $37K-$66K (Glassdoor est.)
3      $37K-$66K (Glassdoor est.)
4      $37K-$66K (Glassdoor est.)
...                           ...
2248  $78K-$104K (Glassdoor est.)
2249  $78K-$104K (Glassdoor est.)
2250  $78K-$104K (Glassdoor est.)
2251  $78K-$104K (Glassdoor est.)
2252  $78K-$104K (Glassdoor est.)

                                        Job Description  Rating  \
0     Are you eager to roll up your sleeves and harn...     3.2
1     Overview\n\nProvides analytical and technical ...     3.8
2     We’re looking for a Senior Data Analyst who ha...     3.4
3     Requisition NumberRR-0001939\nRemote:Yes\nWe c...     4.1
4     ABOUT FANDUEL GROUP\n\nFanDuel Group is a worl...     3.9
...                                                 ...     ...
2248  Maintains systems to protect data from unautho...     2.5
2249  Position:\nSenior Data Analyst (Corporate Audi...     2.9
2250  Title: Technical Business Analyst (SQL, Data a...    -1.0
2251  Summary\n\nResponsible for working cross-funct...     3.1
2252  You.\n\nYou bring your body, mind, heart and s...     3.4

                                 Company Name        Location  \
0              Vera Institute of Justice\n3.2    New York, NY
1     Visiting Nurse Service of New York\n3.8    New York, NY
2                            Squarespace\n3.4    New York, NY
3                               Celerity\n4.1    New York, NY
4                                FanDuel\n3.9    New York, NY
...                                       ...             ...
2248                       Avacend, Inc.\n2.5      Denver, CO
2249                   Arrow Electronics\n2.9  Centennial, CO
2250                                 Spiceorb      Denver, CO
2251         Contingent Network Services\n3.1  Centennial, CO
2252                          SCL Health\n3.4  Broomfield, CO

          Headquarters                    Size  Founded  \
0         New York, NY    201 to 500 employees     1961
1         New York, NY        10000+ employees     1893
2         New York, NY  1001 to 5000 employees     2003
3           McLean, VA    201 to 500 employees     2002
4         New York, NY   501 to 1000 employees     2009
...                ...                     ...      ...
2248    Alpharetta, GA     51 to 200 employees       -1
2249    Centennial, CO        10000+ employees     1935
2250                -1                      -1       -1
2251  West Chester, OH    201 to 500 employees     1984
2252    Broomfield, CO        10000+ employees     1864

                   Type of ownership                                 Industry  \
0             Nonprofit Organization                        Social Assistance
1             Nonprofit Organization         Health Care Services & Hospitals
2                  Company - Private                                 Internet
3     Subsidiary or Business Segment                              IT Services
4                  Company - Private                      Sports & Recreation
...                              ...                                      ...
2248               Company - Private                   Staffing & Outsourcing
2249                Company - Public                                Wholesale
2250                              -1                                       -1
2251               Company - Private  Enterprise Software & Network Solutions
2252          Nonprofit Organization         Health Care Services & Hospitals

                                Sector                     Revenue  \
0                           Non-Profit  $100 to $500 million (USD)
1                          Health Care      $2 to $5 billion (USD)
2               Information Technology    Unknown / Non-Applicable
3               Information Technology   $50 to $100 million (USD)
4     Arts, Entertainment & Recreation  $100 to $500 million (USD)
...                                ...                         ...
2248                 Business Services    Unknown / Non-Applicable
2249                 Business Services          $10+ billion (USD)
2250                                -1                          -1
2251            Information Technology    $25 to $50 million (USD)
2252                       Health Care      $2 to $5 billion (USD)

                                            Competitors Easy Apply
0                                                    -1       True
1                                                    -1         -1
2                                               GoDaddy         -1
3                                                    -1         -1
4                                            DraftKings       True
...                                                 ...        ...
2248                                                 -1         -1
2249                     Avnet, Ingram Micro, Tech Data         -1
2250                                                 -1         -1
2251                                                 -1         -1
2252  Centura Health, HealthONE, Denver Health and H...         -1

[2253 rows x 16 columns]

**Cleaning: This Dataset is being cleaned to make it easier to work with in Tableau data visualisation software.

To Do:
- Remove second index row with no header
- Remove '(glassdoor)' string from 'salary est.' column
   - Remove ratings from 'company name' strings
- Remove 'easy apply', 'competitors', 'revenue', 'headquarters' columns
- Replace -1s with nans
- Split 'location' column into city, state columns
- Remove duplicates if there are any.
- Filter job titles into subcategories (entry level data analyst (jr. and junior), data analyst, senior data analyst,  business analyst, data scientist) using case when statement.

In [2]:
#remove second index row with no header
data = data.drop("Unnamed: 0",axis=1)

In [3]:
#Remove 'easy apply', 'competitors', 'revenue', 'headquarters'  columns
data= data[['Job Title','Salary Estimate','Job Description','Rating','Company Name','Location','Size','Founded','Type of ownership','Industry','Sector']]

In [4]:
#Split 'location' column into city, state columns
data[['City','State','Location']]= data['Location'].str.split(', ', expand=True, regex=True, n=2252)
data = data[['Job Title','Salary Estimate','Job Description','Rating','Company Name','City','State', 'Size','Founded','Type of ownership','Industry','Sector']]
print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2253 entries, 0 to 2252
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Job Title          2253 non-null   object
 1   Salary Estimate    2253 non-null   object
 2   Job Description    2253 non-null   object
 3   Rating             2253 non-null   float64
 4   Company Name       2252 non-null   object
 5   City               2253 non-null   object
 6   State              2253 non-null   object
 7   Size               2253 non-null   object
 8   Founded            2253 non-null   int64
 9   Type of ownership  2253 non-null   object
 10  Industry           2253 non-null   object
 11  Sector             2253 non-null   object
dtypes: float64(1), int64(1), object(10)
memory usage: 211.3+ KB
None

In [5]:
#remove ' (Glassdoor est.)' string from 'salary est.' column

# this was a bit complex as () have special significance within strings so you can simply remove them like other letters and numbers.  look at python notes for more details  
data['Salary Estimate']= data['Salary Estimate'].str.replace('Glassdoor est.','')
inputToken = ' ('
data['Salary Estimate']= data['Salary Estimate'].str.replace(re.escape(inputToken),'')
inputToken2 = ')'
data['Salary Estimate']= data['Salary Estimate'].str.replace(re.escape(inputToken2),'')

#Clean 'Type of ownership' column by compiling all data into 4 categories
#Remove 'n\3.4' ratings from Company Name column (public, private, gov, education, healthcare)
data['Company Name']= data['Company Name'].str[:-4]


#remove$ and K, split 'Estimate' column into 2 columns with high estimate/low estimate then take average of the two and convert it to an int datatype
data['Salary Estimate']= data['Salary Estimate'].str.replace('$','')
data['Salary Estimate']= data['Salary Estimate'].str.replace('K','000')
data['Salary Estimate']= data['Salary Estimate'].str.replace(' ','')
data[['Sal_estlow','Sal_esthigh']]= data['Salary Estimate'].str.split('-', expand=True, regex=True)

#drop row from datarfame that has null value for 'Salary Estimate'
data.drop(index=data.index[2149], 
        axis=0, 
        inplace=True)

#convert salary columns to 'int' data type
data['Sal_estlow']=data['Sal_estlow'].astype(int)
data['Sal_esthigh']=data['Sal_esthigh'].astype(int)

#calculate an average for salary using high and low estimate
data['AvgSal']= (data['Sal_esthigh']+data['Sal_estlow'])/2
data = data[['Job Title','AvgSal','Sal_estlow','Sal_esthigh', 'Salary Estimate','Job Description','Rating','Company Name','City','State', 'Size','Founded','Type of ownership','Industry','Sector']]
print(data)

                                              Job Title   AvgSal  Sal_estlow  \
0     Data Analyst, Center on Immigration and Justic...  51500.0       37000
1                                  Quality Data Analyst  51500.0       37000
2     Senior Data Analyst, Insights & Analytics Team...  51500.0       37000
3                                          Data Analyst  51500.0       37000
4                                Reporting Data Analyst  51500.0       37000
...                                                 ...      ...         ...
2248  RQS - IHHA - 201900004460 -1q Data Security An...  91000.0       78000
2249              Senior Data Analyst (Corporate Audit)  91000.0       78000
2250  Technical Business Analyst (SQL, Data analytic...  91000.0       78000
2251                Data Analyst 3, Customer Experience  91000.0       78000
2252                        Senior Quality Data Analyst  91000.0       78000

      Sal_esthigh Salary Estimate  \
0           66000     37000-66000
1           66000     37000-66000
2           66000     37000-66000
3           66000     37000-66000
4           66000     37000-66000
...           ...             ...
2248       104000    78000-104000
2249       104000    78000-104000
2250       104000    78000-104000
2251       104000    78000-104000
2252       104000    78000-104000

                                        Job Description  Rating  \
0     Are you eager to roll up your sleeves and harn...     3.2
1     Overview\n\nProvides analytical and technical ...     3.8
2     We’re looking for a Senior Data Analyst who ha...     3.4
3     Requisition NumberRR-0001939\nRemote:Yes\nWe c...     4.1
4     ABOUT FANDUEL GROUP\n\nFanDuel Group is a worl...     3.9
...                                                 ...     ...
2248  Maintains systems to protect data from unautho...     2.5
2249  Position:\nSenior Data Analyst (Corporate Audi...     2.9
2250  Title: Technical Business Analyst (SQL, Data a...    -1.0
2251  Summary\n\nResponsible for working cross-funct...     3.1
2252  You.\n\nYou bring your body, mind, heart and s...     3.4

                            Company Name        City State  \
0              Vera Institute of Justice    New York    NY
1     Visiting Nurse Service of New York    New York    NY
2                            Squarespace    New York    NY
3                               Celerity    New York    NY
4                                FanDuel    New York    NY
...                                  ...         ...   ...
2248                       Avacend, Inc.      Denver    CO
2249                   Arrow Electronics  Centennial    CO
2250                                Spic      Denver    CO
2251         Contingent Network Services  Centennial    CO
2252                          SCL Health  Broomfield    CO

                        Size  Founded               Type of ownership  \
0       201 to 500 employees     1961          Nonprofit Organization
1           10000+ employees     1893          Nonprofit Organization
2     1001 to 5000 employees     2003               Company - Private
3       201 to 500 employees     2002  Subsidiary or Business Segment
4      501 to 1000 employees     2009               Company - Private
...                      ...      ...                             ...
2248     51 to 200 employees       -1               Company - Private
2249        10000+ employees     1935                Company - Public
2250                      -1       -1                              -1
2251    201 to 500 employees     1984               Company - Private
2252        10000+ employees     1864          Nonprofit Organization

                                     Industry  \
0                           Social Assistance
1            Health Care Services & Hospitals
2                                    Internet
3                                 IT Services
4                         Sports & Recreation
...                                       ...
2248                   Staffing & Outsourcing
2249                                Wholesale
2250                                       -1
2251  Enterprise Software & Network Solutions
2252         Health Care Services & Hospitals

                                Sector
0                           Non-Profit
1                          Health Care
2               Information Technology
3               Information Technology
4     Arts, Entertainment & Recreation
...                                ...
2248                 Business Services
2249                 Business Services
2250                                -1
2251            Information Technology
2252                       Health Care

[2252 rows x 15 columns]

/var/folders/ml/d3p4clqj3bj2z7m7hff04nsw0000gn/T/ipykernel_99984/2180278382.py:4: FutureWarning: The default value of regex will change from True to False in a future version.
  data['Salary Estimate']= data['Salary Estimate'].str.replace('Glassdoor est.','')
/var/folders/ml/d3p4clqj3bj2z7m7hff04nsw0000gn/T/ipykernel_99984/2180278382.py:6: FutureWarning: The default value of regex will change from True to False in a future version.
  data['Salary Estimate']= data['Salary Estimate'].str.replace(re.escape(inputToken),'')
/var/folders/ml/d3p4clqj3bj2z7m7hff04nsw0000gn/T/ipykernel_99984/2180278382.py:8: FutureWarning: The default value of regex will change from True to False in a future version.
  data['Salary Estimate']= data['Salary Estimate'].str.replace(re.escape(inputToken2),'')
/var/folders/ml/d3p4clqj3bj2z7m7hff04nsw0000gn/T/ipykernel_99984/2180278382.py:16: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  data['Salary Estimate']= data['Salary Estimate'].str.replace('$','')

In [6]:
#replace -1s with nans
data= data.replace('-1', np.nan)

data['Founded'] = data['Founded'].replace('-1', np.nan)

In [7]:
#remove duplicates if there are any
duplicates=data.duplicated(keep=False)
#there arent any duplicates as this command returns an empty dataframe

In [8]:
#filter job titles into subcategories (entry level data analyst (jr. and junior), data analyst, senior data analyst,  business analyst, data scientist) using case when statement.
juniordata= data[data['Job Title'].str.contains('junior|jr|entry level|intern', case=False)]
seniordata= data[data['Job Title'].str.contains('senior|chief|lead|principal|master|sr.', case=False)]

In [9]:
#remove commas from string columns and ad commas at beginning and end of columns.  THis will allow the data to be more easily parsed by BI software like Tableau
data['Job Title'] = data['Job Title'].str.replace(',','')

data['Job Description'] = data['Job Description'].str.replace(',','')
data['Job Description'] = data['Job Description'].str.replace(',','')
data['Company Name'] = data['Company Name'].str.replace(',','')
data['Size'] = data['Size'].str.replace(',','')
data['Type of ownership'] = data['Type of ownership'].str.replace(',','')
data['Industry'] = data['Industry'].str.replace(',','')
data['Sector'] = data['Sector'].str.replace(',','')
print(data)

                                              Job Title   AvgSal  Sal_estlow  \
0     Data Analyst Center on Immigration and Justice...  51500.0       37000
1                                  Quality Data Analyst  51500.0       37000
2     Senior Data Analyst Insights & Analytics Team ...  51500.0       37000
3                                          Data Analyst  51500.0       37000
4                                Reporting Data Analyst  51500.0       37000
...                                                 ...      ...         ...
2248  RQS - IHHA - 201900004460 -1q Data Security An...  91000.0       78000
2249              Senior Data Analyst (Corporate Audit)  91000.0       78000
2250  Technical Business Analyst (SQL Data analytics...  91000.0       78000
2251                 Data Analyst 3 Customer Experience  91000.0       78000
2252                        Senior Quality Data Analyst  91000.0       78000

      Sal_esthigh Salary Estimate  \
0           66000     37000-66000
1           66000     37000-66000
2           66000     37000-66000
3           66000     37000-66000
4           66000     37000-66000
...           ...             ...
2248       104000    78000-104000
2249       104000    78000-104000
2250       104000    78000-104000
2251       104000    78000-104000
2252       104000    78000-104000

                                        Job Description  Rating  \
0     Are you eager to roll up your sleeves and harn...     3.2
1     Overview\n\nProvides analytical and technical ...     3.8
2     We’re looking for a Senior Data Analyst who ha...     3.4
3     Requisition NumberRR-0001939\nRemote:Yes\nWe c...     4.1
4     ABOUT FANDUEL GROUP\n\nFanDuel Group is a worl...     3.9
...                                                 ...     ...
2248  Maintains systems to protect data from unautho...     2.5
2249  Position:\nSenior Data Analyst (Corporate Audi...     2.9
2250  Title: Technical Business Analyst (SQL Data an...    -1.0
2251  Summary\n\nResponsible for working cross-funct...     3.1
2252  You.\n\nYou bring your body mind heart and spi...     3.4

                            Company Name        City State  \
0              Vera Institute of Justice    New York    NY
1     Visiting Nurse Service of New York    New York    NY
2                            Squarespace    New York    NY
3                               Celerity    New York    NY
4                                FanDuel    New York    NY
...                                  ...         ...   ...
2248                        Avacend Inc.      Denver    CO
2249                   Arrow Electronics  Centennial    CO
2250                                Spic      Denver    CO
2251         Contingent Network Services  Centennial    CO
2252                          SCL Health  Broomfield    CO

                        Size  Founded               Type of ownership  \
0       201 to 500 employees     1961          Nonprofit Organization
1           10000+ employees     1893          Nonprofit Organization
2     1001 to 5000 employees     2003               Company - Private
3       201 to 500 employees     2002  Subsidiary or Business Segment
4      501 to 1000 employees     2009               Company - Private
...                      ...      ...                             ...
2248     51 to 200 employees       -1               Company - Private
2249        10000+ employees     1935                Company - Public
2250                     NaN       -1                             NaN
2251    201 to 500 employees     1984               Company - Private
2252        10000+ employees     1864          Nonprofit Organization

                                     Industry                           Sector
0                           Social Assistance                       Non-Profit
1            Health Care Services & Hospitals                      Health Care
2                                    Internet           Information Technology
3                                 IT Services           Information Technology
4                         Sports & Recreation  Arts Entertainment & Recreation
...                                       ...                              ...
2248                   Staffing & Outsourcing                Business Services
2249                                Wholesale                Business Services
2250                                      NaN                              NaN
2251  Enterprise Software & Network Solutions           Information Technology
2252         Health Care Services & Hospitals                      Health Care

[2252 rows x 15 columns]

In [10]:
#double check cleaned df's and export them as .csv
data.to_csv('datajobscleaned.csv', na_rep='NaN', index=False, sep=',')

juniordata.to_csv('juniordatajobscleaned.csv', na_rep='NaN', index=False, sep=',')
seniordata.to_csv('seniordatajobscleaned.csv', na_rep='NaN', index=False, sep=',')